<div class="col-12 px-3">
    <div class="container-fluid mt-4">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item fw-bold"><a class="text-decoration-none">Asignación de Horarios por
                        PDV</a></li>
                <li class="breadcrumb-item fw-bold active" aria-current="page">Asignación</li>
            </ol>
        </nav>
    </div>
    <div class="card border-dark">
        <div class="card-body">
            <h4 class="card-title text-uppercase">Asignación de Horarios por PDV</h4>
            <div class="col-sm-12 mt-1">
                <div class="row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <div class="card">
                            <div class="card-body">
                                <label for="input1" class="form-label">Punto de Venta:</label>
                                <select class="form-select" id="input1" (change)="ongetPDV($event)">
                                    <option selected>Seleccionar PDV</option>
                                    <option *ngFor="let pdv of listSupervisorPDV" [value]="pdv.idpuntoventarol">
                                        {{ pdv.puntoventa }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row justify-content-md-start">
                                    <div class="col-sm-12">
                                        <label for="input2" class="form-label">
                                            <i class="bi bi-calendar4-range"
                                                style="font-size: 1rem; color: #FF455C;"></i>
                                            Rangos Semanales:
                                        </label>
                                        <select class="form-select" id="input2" (change)="ongetRangoSemana($event)">
                                            <option selected>Seleccionar</option>
                                            <option *ngFor="let rango of listRangoSemana"
                                                [value]="(rango.lunes + ',' + rango.domingo)">
                                                Lunes {{ rango.lunes | date:"dd/MM/yyyy" }} - Domingo {{rango.domingo
                                                | date:"dd/MM/yyyy" }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive mt-4">
                    <table id="tablaTurnosAsignadosHorarios"
                        class="table table-dark caption-top table-hover table-bordered text-center table-sm rounded-2">
                        <thead>
                            <tr>
                                <!-- Celda vacía para la cabecera lateral -->
                                <th style="margin: 0px; padding-left: 0px; padding-right: 0px;"></th>
                                <!-- <th></th> -->
                                <th class="text-center font-weight-bold">Lunes</th>
                                <th class="text-center font-weight-bold">Martes</th>
                                <th class="text-center font-weight-bold">Miércoles</th>
                                <th class="text-center font-weight-bold">Jueves</th>
                                <th class="text-center font-weight-bold">Viernes</th>
                                <th class="text-center font-weight-bold">Sábado</th>
                                <th class="text-center font-weight-bold">Domingo</th>
                                <!-- Encabezado de los días -->
                            </tr>
                            <tr>
                                <th style="margin: 0px; padding-left: 0px; padding-right: 0px;">Promotores</th>
                                <th class="text-center font-weight-bold" *ngFor="let dia of listDiasSemana">
                                    {{ dia.fecha | date:"dd/MM" }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let promotor of promotorList; let i = index">
                                <th scope="row" class="font-weight-bold">
                                    {{ promotor.nombrepromotor }} {{ promotor.apellidopaternopromotor }} {{ promotor.apellidomaternopromotor }}
                                </th>
                                <td *ngFor="let dia of listDiasSemana; let j = index">
                                    <select class="form-control" style="padding: 10px; font-size: 10pt;text-align: center;"
                                        [(ngModel)]="listHorario[i][j].horario">
                                        <option value="" selected>Seleccionar</option>
                                        <option *ngFor="let item of listTurnosSupervisorPDVHorarios" style="text-align: left;"
                                            [value]="(item.descripcion + ',' + item.horarioentrada + ',' + item.horariosalida)">
                                            {{ item.descripcion }}
                                        </option>
                                    </select>
                                    <ng-container *ngIf="datosHorarioPlanificado.length > 0">
                                        <ng-container *ngFor="let horario of datosHorarioPlanificado">
                                            <ng-container *ngIf="horario.dnipromotor === promotor.dnipromotor && horario.fecha === dia.fecha">
                                                {{ horario.descripcion }}
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                </td>
                            </tr>
                        </tbody>
                        

                    </table>
                </div>
                <div class="row justify-content-md-end">
                    <div class="col-sm-2">
                        <button class="btn btn-primary" type="menu"
                            (click)="guardarHorarios()">
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mt-1">
            </div>
        </div>
    </div>
</div>