<div class="col-12 px-3">
    <div class="container-fluid mt-4">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item fw-bold"><a class="text-decoration-none">Asignación de Horarios por
                        PDV</a></li>
                <li class="breadcrumb-item fw-bold active" aria-current="page">Asignación</li>
            </ol>
        </nav>
    </div>
    <div class="card border-dark">
        <div class="card-body">
            <h4 class="card-title text-uppercase">Asignación de Horarios por PDV</h4>
            <div class="col-sm-12 mt-1">
                <div class="row px-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label for="input1" class="form-label">Punto de Venta:</label>
                                    <select class="form-select" id="input1" [(ngModel)]="pdvFiltro">
                                        <option value="0">Seleccionar PDV</option>
                                        <option *ngFor="let pdv of listSupervisorPDV" [value]="pdv.idpuntoventarol">
                                            {{ pdv.puntoventa }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-5">
                                    <label for="input2" class="form-label">
                                        <i class="bi bi-calendar4-range" style="font-size: 1rem; color: #FF455C;"></i>
                                        Rangos Semanales:
                                    </label>
                                    <select class="form-select" id="input2" [(ngModel)]="rangoFiltro">
                                        <option value="" *ngIf="listRangoSemana.length > 0">Seleccionar</option>
                                        <option value="" *ngIf="listRangoSemana.length === 0" disabled selected>No hay
                                            rangos disponibles</option>
                                        <option *ngFor="let rango of listRangoSemana"
                                            [value]="(rango.lunes + ',' + rango.domingo)">
                                            Lunes {{ rango.lunes | date:"dd/MM/yyyy" }} - Domingo {{ rango.domingo |
                                            date:"dd/MM/yyyy" }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-3" style="padding-top: 27px;">
                                    <button class="btn btn-primary" type="button" (click)="filtrar()"
                                        style="max-width: 100%; height: auto; width:350px">
                                        Buscar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <div class="card">
                            <div class="card-body">
                                <label for="input1" class="form-label">Punto de Venta:</label>
                                <select class="form-select" id="input1" [(ngModel)]="pdvFiltro">
                                    <option value="0">Seleccionar PDV</option>
                                    <option *ngFor="let pdv of listSupervisorPDV" [value]="pdv.idpuntoventarol">
                                        {{ pdv.puntoventa }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row justify-content-md-start">
                                    <div class="col-sm-12">
                                        <label for="input2" class="form-label">
                                            <i class="bi bi-calendar4-range"
                                                style="font-size: 1rem; color: #FF455C;"></i>
                                            Rangos Semanales:
                                        </label>
                                        <select class="form-select" id="input2" [(ngModel)]="rangoFiltro">
                                            <option value="" *ngIf="listRangoSemana.length > 0">Seleccionar</option>
                                            <option value="" *ngIf="listRangoSemana.length === 0" disabled selected>No
                                                hay rangos disponibles</option>
                                            <option *ngFor="let rango of listRangoSemana"
                                                [value]="(rango.lunes + ',' + rango.domingo)">
                                                Lunes {{ rango.lunes | date:"dd/MM/yyyy" }} - Domingo {{ rango.domingo |
                                                date:"dd/MM/yyyy" }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <button class="btn btn-primary" type="button" (click)="filtrar()">Buscar</button>
                    </div>
                </div> -->
                <!-- <button (click)="exportexcel()" class="btn btn-primary mb-3">
                    Download File
                  </button> -->
                <div class="table-responsive mt-4">
                    <table id="tablaTurnosAsignadosHorarios"
                        class="table table-dark caption-top table-hover table-bordered text-center table-sm rounded-2">
                        <thead>
                            <tr>
                                <!-- Celda vacía para la cabecera lateral -->
                                <th style="margin: 0px; padding-left: 0px; padding-right: 0px;"></th>
                                <!-- <th></th> -->
                                <th class="text-center font-weight-bold">Lunes</th>
                                <th class="text-center font-weight-bold">Martes</th>
                                <th class="text-center font-weight-bold">Miércoles</th>
                                <th class="text-center font-weight-bold">Jueves</th>
                                <th class="text-center font-weight-bold">Viernes</th>
                                <th class="text-center font-weight-bold">Sábado</th>
                                <th class="text-center font-weight-bold">Domingo</th>
                                <!-- Encabezado de los días -->
                            </tr>
                            <tr>
                                <th style="margin: 0px; padding-left: 0px; padding-right: 0px;">Promotores</th>
                                <th class="text-center font-weight-bold" *ngFor="let dia of listDiasSemana">
                                    {{ dia.fecha | date:"dd/MM" }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let promotor of promotorList; let i = index">
                                <th scope="row" class="font-weight-bold">
                                    {{ promotor.nombrepromotor }} {{ promotor.apellidopaternopromotor }} {{
                                    promotor.apellidomaternopromotor }}
                                </th>
                                <td *ngFor="let dia of listDiasSemana; let j = index" class="p-2"   >
                                    <div class="input-group" tabindex="0" (focusout)="hideOptions(i, j)" >
                                        <input  style="cursor: pointer;"  type="text"  class="form-control" style="padding: 7px; cursor: pointer; font-size: 10pt; text-align: center"
                                            [ngModel]="listHorario[i][j].horario === '' ? 'Seleccionar' : listHorario[i][j].horario.split(',')[0]"
                                            (ngModelChange)="listHorario[i][j].horario = $event === 'Seleccionar' ? '' : $event"
                                            (click)="toggleOptions(i, j)" readonly>
                                        <!-- <div class="input-group-text p-1" (click)="toggleOptions(i, j)"  >
                                            <i class="bi bi-chevron-down" style="font-size: small; font-weight: 700;"></i>
                                        </div> -->
                                    </div>
                                    <div (focusout)="hideOptions(i, j)"  style="cursor: pointer;"  >
                                        <ul *ngIf="showOptions[i][j]" class="list-unstyled floating-list"  style="cursor: pointer;" >
                                            <li *ngFor="let item of listTurnosSupervisorPDVHorarios"  style="cursor: pointer;" 
                                                (click)="selectOption(item.descripcion, item.horarioentrada, item.horariosalida, i, j)">
                                                {{ item.descripcion }}
                                            </li>
                                        </ul>
                                    </div>
                                    
                                    <!-- <select class="form-control"
                                        style="padding: 10px; font-size: 10pt;text-align: center;"
                                        [(ngModel)]="listHorario[i][j].horario">
                                        <option value="" selected>Seleccionar</option>
                                        <option *ngFor="let item of listTurnosSupervisorPDVHorarios"
                                            style="text-align: left;"
                                            [value]="(item.descripcion + ',' + item.horarioentrada + ',' + item.horariosalida)">
                                            {{ item.descripcion }}
                                        </option>
                                    </select> -->
                                </td>
                            </tr>
                        </tbody>


                    </table>
                </div>
                <div class="row justify-content-md-end">
                    <div class="col-sm-2" *ngIf="!datosHorarioPlanificado || datosHorarioPlanificado.length === 0">
                        <button *ngIf="mostrarElemento" class="btn btn-primary" type="menu" (click)="guardarHorarios()"
                            style="max-width: 100%; height: auto; width:350px">
                            Guardar
                        </button>
                    </div>
                    <div class="col-sm-2" *ngIf="datosHorarioPlanificado && datosHorarioPlanificado.length >0">
                        <button class="btn btn-success" type="menu " (click)="guardarHorarios()"
                            style="max-width: 100%; height: auto; width:350px">
                            🖊 Editar
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mt-1">
            </div>
        </div>
    </div>
</div>
<div>
    <!-- <input type="text" [(ngModel)]="selectedOption" (input)="filterOptions()">
    <ul *ngIf="filteredOptions.length > 0">
      <li *ngFor="let option of filteredOptions" (click)="selectOption(option)">
        {{ option }}
      </li>
    </ul>
  </div> -->

    <!-- <div class="custom-combobox">
    <input type="text" [(ngModel)]="selectedOption" (click)="toggleOptions()">
    <ul *ngIf="showOptions">
      <li *ngFor="let item of listTurnosSupervisorPDVHorarios" (click)="selectOption(item.descripcion)">
        {{ item.descripcion }}
      </li>
    </ul>
  </div> -->