<div class="" style="max-width: 650px;">
	<div class="container-fluid mt-4">
		<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item fw-bold">
					<a class="text-decoration-none">
						Validación de Entrega de Bundles
					</a>
				</li>
				<li class="breadcrumb-item fw-bold active" aria-current="page">Validar</li>
			</ol>
		</nav>
	</div>
	<div class="card border-dark">
		<div class="card-header">
			<h5 class="card-title text-uppercase fw-bold text-black mt-3">Validación de Entrega de Bundles</h5>
		</div>
		<form [formGroup]="bundleForm" (ngSubmit)="getBundleForm()">
			<div class="card-body">

				<div class="row my-3 px-2">
					<div class="col-sm-12">
						<label for="input1" class="form-label">Código de Venta</label>
						<input type="text" id="input1" class="form-control" formControlName="intidventasprincipal"
							[maxlength]="13">
						<button type="button" class="btn btn-success mt-2" (click)="getBundlesVentas()">
							<i class="bi bi-search" style="font-size: 1.4rem;"></i>
						</button>
					</div>
				</div>
				<div class="row my-3 px-2">
					<div class="col-sm-12">
						<label for="input2" class="form-label">Nombre Vendedor</label>
						<input type="text" id="input2" class="form-control" formControlName="nombrepromotor" readonly>
					</div>
				</div>
				<div class="row my-3 px-2">
					<div class="col-sm-12">
						<label for="input3" class="form-label">DNI Cliente</label>
						<input type="text" id="input3" class="form-control" formControlName="dnicliente" readonly>
					</div>
				</div>
				<div class="row my-3 px-2">
					<div class="col-sm-12">
						<label for="input4" class="form-label">Producto</label>
						<input type="text" id="input4" class="form-control" formControlName="producto" readonly>
					</div>
				</div>
				<div class="row my-3 px-2">
					<div class="col-sm-12">
						<label for="input5" class="form-label">Nombre Premio</label>
						<input type="text" id="input5" class="form-control" formControlName="nombrebundle" readonly>
					</div>
				</div>
				<div class="row my-3 px-2">
					<div class="col-sm-12">
						<label for="input6" class="form-label">Numero Celular Cliente (*)</label>
						<input type="text" id="input6" class="form-control" formControlName="celularcliente">
					</div>
				</div>
				<div class="row my-3">
					<div class="col-sm-12" style="padding: 0px;">
						<label for="sign_canvas" class="form-label" style="padding-left: 21px;">Firma</label>
						<!-- <signature-pad style="width: 100%; height: 200px;" #signature fxFlex="1 1 50%"
							(window:resize)="resizeSignaturePad()" class="signature" id="sign_canvas"
							fxFlexAlign.xs="center"></signature-pad> -->
						<!-- <div style="padding-left: 21px;"></div> -->
							<!-- <button type="button" class="btn btn-info" (click)="limpiarFirma()">
								<i class="bi bi-trash-fill" style="font-size: 1.4rem;"></i>
							</button> -->
							<!-- <button type="button" class="btn btn-danger" (click)="firmar()">Firmar</button> -->
							<button class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
								type="button" >
								Firmar
							</button>
						
					</div>
				</div>
			</div>
			<div class="card-footer text-body-secondary text-end">
				<button type="submit" class="btn btn-primary m-3">
					Enviar Validación
				</button>
			</div>
		</form>
	</div>
</div>

<!-- <signature-pad style="width: 100%;" #signature fxFlex="1 1 50" (window:resize)="resizeSignaturePad()" class="signature"
	id="sign_canvas" fxFlexAlign.xs="center">
</signature-pad> -->


<div class="modal fade" class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
	tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" (shown.bs.modal)="verdimensiones()">
	<div class="modal-dialog modal-xl modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5 fw-bold" id="staticBackdropLabel">Firme Aquí</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<signature-pad style="width: 100%; height: 200px;" #signature fxFlex="1 1 50%"
					(window:resize)="resizeSignaturePad()" class="signature" id="sign_canvas" fxFlexAlign.xs="center">
				</signature-pad>
				<button type="button" class="btn btn-info" (click)="limpiarFirma()">
					<i class="bi bi-trash-fill" style="font-size: 1.4rem;"></i>
				</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">
					Cerrar
				</button>
				<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
			</div>
		</div>
	</div>
</div>